
2. MOC/.obsidian/app.json
2. MOC/.obsidian/appearance.json
2. MOC/.obsidian/core-plugins.json
2. MOC/.obsidian/hotkeys.json
2. MOC/.obsidian/workspace
.obsidian/workspace
.obsidian/workspace
.obsidian/plugins/obsidian-minimal-settings/data.json
.obsidian/app.json
.obsidian/app.json
.obsidian/appearance.json
.obsidian/community-plugins.json
.obsidian/core-plugins.json
