
.obsidian/community-plugins.json
.obsidian/appearance.json
.obsidian/workspace
3. Notes/Introductio.md
.obsidian/graph.json
.obsidian/hotkeys.json
.obsidian/app.json
.obsidian/core-plugins.json
.obsidian/hotkeys.json
.obsidian/plugins/obsidian-minimal-settings/data.json
.obsidian/plugins/obsidian-minimal-settings/data.json
.obsidian/plugins/obsidian-minimal-settings/main.js
.obsidian/plugins/obsidian-relative-line-numbers/main.js
.obsidian/plugins/obsidian-relative-line-numbers/manifest.json
.obsidian/plugins/obsidian-style-settings/data.json
.obsidian/plugins/obsidian-style-settings/main.js
.obsidian/plugins/obsidian-style-settings/manifest.json
.obsidian/plugins/obsidian-style-settings/styles.css
.obsidian/plugins/obsidian-vimrc-support/data.json
.obsidian/plugins/obsidian-vimrc-support/data.json
