:root {
  --h1:2.3em;
  --h2:1.5em;
  --h3:1.2em;
  --h4:0.90em;
  --h5:0.85em;
  --h6:0.85em;
  --h1-weight: 800;
  --h2-weight: 650;
  --h3-weight: 600;
}

.cm-s-obsidian span.cm-inline-code,.markdown-preview-view code,.markdown-rendered code {
	font-size: 17px;
}


/*
https://github.com/kepano/obsidian-minimal-settings/issues/10
*/